<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoshiker.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.yoshiker.pojo.Category" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="cat_image" property="catImage" jdbcType="VARCHAR" />
    <result column="bg_color" property="bgColor" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 自定义sql语句，查询自分类  -->
  <resultMap id="getCatSubList" type="com.yoshiker.pojo.vo.CategoryVo" >
    <id column="id" property="id" />
    <result column="name" property="name"/>
    <result column="type" property="type"/>
    <result column="fatherId" property="fatherId"/>

    <collection property="subList" ofType="com.yoshiker.pojo.vo.CategorySubVo">
      <id column="subId" property="subId" />
      <result column="subName" property="subName"/>
      <result column="subType" property="subType"/>
      <result column="subFatherId" property="subFatherId"/>
    </collection>
  </resultMap>

  <select id="getSubList" resultMap="getCatSubList" parameterType="int">
    SELECT
        f.id as id,
        f.name as name,
        f.type as type,
        f.father_id as fatherId,
        c.id as subId,
        c.name as subName,
        c.type as subType,
        c.`father_id` as subFatherId
    FROM
        category f
    LEFT JOIN
        category c
    on
        f.id = c.father_id
    WHERE
        f.father_id = #{rootCatId}
  </select>

  <!-- 查询首页商品推荐 -->
  <resultMap id="getRecommendItems" type="com.yoshiker.pojo.vo.RecommendItemsVo">
    <id column="rootCatId" property="rootCatId" />
    <result column="rootCatName" property="rootCatName"/>
    <result column="slogan" property="slogan"/>
    <result column="catImage" property="catImage"/>
    <result column="bgColor" property="bgColor"/>

    <collection property="subItems" ofType="com.yoshiker.pojo.vo.RecommendItemsSubVo">
      <id column="itemId" property="itemId" />
      <result column="catId" property="catId"/>
      <result column="rootCatId" property="rootCatId"/>
      <result column="itemName" property="itemName"/>
      <result column="content" property="content"/>
      <result column="imgUrl" property="imgUrl"/>
    </collection>
  </resultMap>

  <select id="getRecommendItems" resultMap="getRecommendItems" parameterType="Map">
    SELECT
        f.id as rootCatId,
        f.name as rootCatName,
        f.slogan as slogan,
        f.cat_image as catImage,
        f.bg_color as bgColor,
        i.id as itemId,
        i.item_name as itemName,
        i.cat_id as catId,
        i.root_cat_id as rootCatId,
        i.content as content,
        ii.url as imgUrl
    FROM
        category f
    LEFT JOIN
        items i
    on
        f.id = i.root_cat_id
    LEFT JOIN
        items_img ii
    on
        i.id = ii.item_id
    WHERE
        i.root_cat_id = #{itemsMap.rootCatId}
    AND
        ii.is_main = 1
    ORDER BY
        i.created_time
    DESC
    LIMIT 0,8
  </select>


</mapper>