<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoshiker.mapper.ItemsCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.yoshiker.pojo.ItemsComments" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_spec_id" property="itemSpecId" jdbcType="VARCHAR" />
    <result column="sepc_name" property="sepcName" jdbcType="VARCHAR" />
    <result column="comment_level" property="commentLevel" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="commentsResultMap" type="com.yoshiker.pojo.vo.ItemCommentVo">
    <result column="commentLevel" property="commentLevel"/>
    <result column="content" property="content"/>
    <result column="sepcName" property="sepcName"/>
    <result column="createdTime" property="createdTime"/>
    <result column="nickName" property="nickName"/>
    <result column="face" property="face"/>
  </resultMap>

  <select id="queryItemCommentsList" resultMap="commentsResultMap" parameterType="Map">
    SELECT
        ic.comment_level as commentLevel,
        ic.content as content,
        ic.sepc_name as sepcName,
        ic.created_time as createdTime,
        u.nickname as nickName,
        u.face as face
    FROM
        items_comments ic
    LEFT JOIN
        users u
    ON
        ic.user_id = u.id
    WHERE
        ic.item_id = #{paramsMap.itemId}
        <if test="paramsMap.level != null and paramsMap.level != ''">
        AND ic.comment_level = #{paramsMap.level}
        </if>
  </select>
</mapper>